@import 'nib'

.Nav
  margin 0 40px 40px 40px
  padding-top 40px
  pointer-events none

  &__menu-button
    display inline-block
    vertical-align top
    pointer-events auto

  &__filter
    display inline-block
    vertical-align top
    margin-left 30px
    pointer-events auto

  &__filter-sort-by
    display inline-block

  &__filter-in
    display inline-block
    font-family futura
    font-size 1.6em
    color #4e4e4e
    margin 0px 16px
    text-shadow: 0px 2px 0px #ffffff82;

  &__filter-genres
    display inline-block

  &__loading
    display none
    width 36px
    height 36px
    background-image url('./assets/loading.gif')
    background-repeat no-repeat
    background-position center
    vertical-align top
    margin-left 18px
    margin-top 11px

  &__loading--show
    display inline-block
